service performance_booster /system/bin/com.android.server.android.PerformanceBoosterService
    class main
    user root
    group root system
    disabled
    
on property:sys.boot_completed=1
    start performance_booster
